body {
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#5b5b5b;
	font-weight:400;
	background-color:#ffffff;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif;
}

a:hover, a:focus, a:visited{
	text-decoration:none;
	outline:none;
}

header {
	border-top: 3px solid #1bc7ff;
}

.clear-both {
	clear: both;
}

.logo01 {
	width: 180px;
}
.top-bar {	
	font-size: 12px;
	padding: 20px 0;
	margin: 15px 15px 0;
}
.top-logo {
	height: 25px;
}
.top-data {
	height: 25px;
	margin-top: 4px;
}
.top-data li {
	margin-left: 15px;
}
.nav-box {
	border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}
.menu-box {
	position: relative;
}
.search-box {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	margin-top: 5px;
	cursor: pointer;
    padding: 8px 0;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    background-color: #27343e;
    border-radius: 5px;
}
.menu-button {
	border: 1px solid #1bc7ff !important;
    float: none;
    margin: 0;
    border-radius: 5px;
    background: #1bc7ff;
    width: 44px;
    height: 38px;
    padding: 0 5px 2px;
    cursor: pointer;
}
.menu-button span {
	background-image: url("../img/menu-icon.svg") !important;
	background-size: 90% 90%;
}

/** Slider Revolution **/

.slider-box, {
	width: 100%;
	height: 750px;
}
.tp-bannertimer {
	display: none !important;
}
.rev-layer-custom {
	color: #27343e;
}
.rev-layer-custom h1 {
	font-weight: 600;
}
.rev-layer-custom h2 {
	letter-spacing: 10px;
    font-size: 22px;
}
.rev-layer-custom h4 {
	letter-spacing: 10px;
    font-size: 14px;
    color: #0080aa;
}		
.rev-layer-custom a {
	color: #27343e;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 15px 30px;
	background-color: #FFF;
	box-shadow: box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.10);
	transition: all ease-out 0.2s !important;
}
.rev-layer-custom a:hover, .rev-layer-custom a:focus {
	background-color: #27343e;
	color: #FFF;
}

/** End Slider Revolution **/

.card-icon-box {
	display: block;
	width: 70px;
	height: 70px;
	background-color: #1bc7ff;
	border-radius: 35px;
	font-size: 50px;
	color: #FFFFFF;
	text-align: center;
}
.card-title-box {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 13px;
}
.card-text-box {
	line-height: 24px;
}

.line-b {
	width: 70px;
	height: 2px;
    border-top: 2px solid #27343e;
    display: inline-block;
    vertical-align: top;
}
.custom-banner p {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
}
.custom-banner a {
	font-size: 13px;
    text-transform: uppercase;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    border-bottom: 1px solid;
    color: #1bc7ff;
}

.new h6 {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}

.banner-parallax {
	position: relative;
	text-align: center;
	background-image: url(../img/banner-bg-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    padding: 110px 0;
}
.banner-parallax:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #21587c;
    opacity: 0.80;
}
.banner-box {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
}
.banner-box h1 {
	font-size: 30px;
}
.banner-box a {
	text-transform: uppercase;
	font-size: 12px;
	color: #FFF;
	background-color: #1bc7ff;
	padding: 15px 30px;
	line-height: 20px;
	letter-spacing: 1px;
    border-radius: 3px;
}
.banner-box a i {
	font-size: 15px;
}

.sec-about h6 {
	font-size: 13px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-top: 2px solid #27343e;
    display: inline-block;
    padding-top: 20px;
}
.sec-about .new-text-a {
	font-size: 16px;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
}
.sec-about .new-text-b {
    line-height: 30px;
}

.slide-box {
	text-align: center;
}
.slide-box h5 {
	color: #1bc7ff;
    font-size: 20px;
    font-weight: 500;
}
.slide-box a {
	color: #1bc7ff;
}

/*** Carousel Section ***/

.owl-custom {
	position: relative;
	padding-top: 70px;
}
.owl-custom .owl-nav {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 40px;
    text-align: center;
    margin-bottom: 10px;
}
.owl-custom .owl-prev, .owl-custom .owl-next {
	display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0px 7px;
    padding: 0px;
    text-align: center;
    background: #e0e0e0;
    line-height: 32px;
    color: #333333;
    border-radius: 50%;
    font-size: 14px;
}

/*** End Carousel Section ***/

.testimonial {
	background-color: #f6f6f6;
}
.testimonial-title {
	font-size: 13px;
    font-family: 'Montserrat',sans-serif;
    letter-spacing: 1px;
}
.testimonial-text {
	font-size: 16px;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
}
.test-person {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
}
.test-box {
	background: #ffffff;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
    padding: 20px;
}

footer {
	background: #27343e;
	color: #FFF;
	font-size: 13px;
}
footer h6 {
	font-size: 14px;
    font-family: 'Montserrat',sans-serif;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.latest-news {
	line-height: 26px;
}
.latest-news span {
	font-size: 10px;
	color: #d3f2fc;
    font-family: 'Montserrat',sans-serif;
}
.footer-about-text {
	line-height: 26px;
	font-size: 12px;
}
.twitter-box {
	position: relative;
	padding-left: 25px;
}
.twitter-icon {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 0;
	color: #4bcaff;
	font-size: 14px;
}
.twitter-text {
	color: #c8c8c8;
	line-height: 26px;
}
.twitter-text a {
	color: #FFF;
}
.twitter-text span {
	color: #2cb4cc;
	font-size: 11px;
}
.gal-footer {
	list-style: none;
}
.gal-footer li {
	width: 32%;
    padding: 0 8px 10px 0;
}
.footer-line {
	display: block;
	width: 100%;
	height: 1px;
	background-color: #47525B;
}
.copyr a {
	font-size: 14px;
	color: #FFF;
	margin-left: 6px;
}

/** RESPONSIVE **/

@media (max-width: 767px) {
	.top-bar {
		padding: 5px 0;
	}
	.top-logo {
		text-align: center;
		padding-bottom: 40px;
	}
	.top-data {
		text-align: center;
		padding-left: 0;
		padding-bottom: 15px;
		vertical-align: top;
	}
	.top-data li:first-child {
		margin-left: 0;
	}

	.search-box {
		left: 0;
		top: 0;
	}
}